body {
  background: url('http://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-43.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  color: white;
  text-shadow: 2px 2px 0px #000;
}

h1 {
  text-align: center;
 }
