body {
  background: url('http://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-43.gif (114KB) ') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  color: white;
  text-shadow: 2px 2px 0px #000;
}

h1 {
  text-align: center;
 }

.sorter {
  width: 100%;
}
.heroPic ul {
  padding: 0;
  list-style-type: none;
}

.villainPic ul {
  padding: 0;
  list-style-type: none;
}

img {
  height: 100px;
  width: 100px;
}

.heroPic {
  float: left;
  width: 200px;
}

.heroPic img {
  margin: auto;
}

.middle {
  float: left;
  width: 400px;
  height: 100px;
  padding-top: 0;
  text-align: center;
  font-size: 30px;
}

.villainPic {
  float: left;
  width: 200px;
}

.button-div {
  width: 100%;
  clear: both;
}

.button {
  margin: 0 auto;
  background-color: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  text-align: center;
}
